.logo{
  width: 300px;
  height: auto;
}
.wiki:hover {
  text-decoration: none;
  background-color: black;
  color: white ;
}
.wiki {
  border: solid 2px black;
  border-radius: 5px;
  margin: 7px;
  margin-top: 3px;
  padding: 10px;
  color: black;
  text-decoration: none;

}
